## IMPORTING

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

import seaborn as sns
pd.set_option('display.max_columns', 300) # to display all the columns
pd.set_option('display.max_rows', 300) # to display all the rows
pd.set_option('display.width', 1000)

## run files

In [ ]:
newapplication = pd.read_csv('application_data.csv')
newapplication.head()

In [ ]:
newapplication.shape

In [ ]:
newapplication.describe()

In [ ]:
newapplication.info(verbose=True, null_counts=True)

## analysis

### find missing value

In [ ]:
newapplication.isnull()

In [ ]:
print(newapplication.isnull().sum())

In [ ]:
percentage=round(100*newapplication.isnull().sum()/len(newapplication),2)
percentage

### remove column high missing %

In [ ]:
newdata= newapplication.loc[:, 100*newapplication.isnull().sum()/len(newapplication) <= 0.5]
newdata.shape

#### check null value now

In [ ]:

round(100*newdata.isnull().sum()/len(newdata),2)

### retrive columns which has any null  value

In [ ]:
data_columns=newdata.columns[newdata.isnull().any()].tolist()
newdata[data_columns].isnull().sum()*100/len(newdata)


list(newdata.columns[(newdata.isnull().mean() <=0.13) & (newdata.isnull().mean()>0)])

### imputation  
#### 1. AMT_ANNUITY

In [ ]:
newdata['AMT_ANNUITY'].value_counts()

In [ ]:
newdata['AMT_ANNUITY'].head()

In [ ]:
newdata['AMT_ANNUITY'].describe()

In [ ]:
    import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')


sns.boxplot (newdata['AMT_ANNUITY'])

plt.show()

In [ ]:
imput= round(newdata['AMT_ANNUITY'].median(),2)
imput

###  2.AMT_GOODS_PRICE

In [ ]:
newdata['AMT_GOODS_PRICE'].value_counts()

In [ ]:
newdata['AMT_GOODS_PRICE'].head()

In [ ]:
newdata['AMT_GOODS_PRICE'].describe()

In [ ]:
sns.boxplot (newdata['AMT_GOODS_PRICE'])

plt.show()

In [ ]:
imput= round(newdata['AMT_ANNUITY'].mean(),2)
imput

### 3.NAME_TYPE_SUITE

In [ ]:
newdata['NAME_TYPE_SUITE'].value_counts()

In [ ]:
newdata['NAME_TYPE_SUITE'].head()

In [ ]:
newdata['NAME_TYPE_SUITE'].describe()

In [ ]:
#it is a catagoricalcolumn so itcounts mode
imput=newdata['NAME_TYPE_SUITE'].mode()
imput

### 4.CNT_FAM_MEMBERS

In [ ]:

newdata['CNT_FAM_MEMBERS'].value_counts()

In [ ]:
newdata['CNT_FAM_MEMBERS'].head()

In [ ]:
newdata['CNT_FAM_MEMBERS'].describe()

In [ ]:
newdata.boxplot(column=['CNT_FAM_MEMBERS'])
plt.show()

In [ ]:
# from box plot it seems, it has lot of outliers so considering median
newdata.CNT_FAM_MEMBERS.median()

### 5.EXT_SOURCE_2

In [ ]:
newdata['EXT_SOURCE_2'].value_counts()

In [ ]:
newdata['EXT_SOURCE_2'].head()

In [ ]:
newdata['EXT_SOURCE_2'].describe()

In [ ]:
newdata.boxplot(column=['EXT_SOURCE_2'])
plt.show()

In [ ]:
# from box plot it seems, mean and median are almost near and no outliers but there is some tilt towards outliers so go with median
newdata.EXT_SOURCE_2.median()

In [ ]:
print(newdata.info())

In [ ]:
newdata.head()

###  6.count of unique values in each column

In [ ]:
print(newdata.nunique().sort_values())

newdata['CODE_GENDER'].value_counts()

### 7.change'm','f'to male and fmale

In [ ]:
newdata=newdata[newdata['CODE_GENDER']!='XNA']
newdata['CODE_GENDER'].replace(['M','F'],['Male','Female'],inplace=True)

newdata.head()

### 8.DAYS_BIRTH

####  converting negative DAYS_BIRTH value to positive value

In [ ]:
newdata['DAYS_BIRTH']=newdata['DAYS_BIRTH'].abs()


newdata['DAYS_BIRTH'].head()

###  9.DAYS_EMPLOYED

In [ ]:
# converting negative DAYS_EMPLOYED value to positive value
newdata['DAYS_EMPLOYED']=newdata['DAYS_EMPLOYED'].abs()


newdata['DAYS_EMPLOYED'].head()

### 10.DAYS_REGISTRATION

In [ ]:
# converting negative DAYS_REGISTRATION value to positive value
newdata['DAYS_REGISTRATION']=newdata['DAYS_REGISTRATION'].abs()


newdata['DAYS_REGISTRATION'].head()

### 11.DAYS_ID_PUBLISH

In [ ]:
# converting negative DAYS_ID_PUBLISH value to positive value
newdata['DAYS_ID_PUBLISH']=newdata['DAYS_ID_PUBLISH'].abs()


newdata['DAYS_ID_PUBLISH'].head()

### 11.DAYS_LAST_PHONE_CHANGE

In [ ]:
# converting negative DAYS_LAST_PHONE_CHANGE value to positive value
newdata['DAYS_LAST_PHONE_CHANGE']=newdata['DAYS_LAST_PHONE_CHANGE'].abs()


newdata['DAYS_LAST_PHONE_CHANGE'].head()

In [ ]:
newdata.head()

### checked columns with unique count greater than 3

### 12.CNT_CHILDREN

In [ ]:
newdata['CNT_CHILDREN' ].value_counts()
plt.boxplot(newdata['CNT_CHILDREN'])
plt.title('cnt_children')
plt.show()

Q1 = newdata['CNT_CHILDREN'].quantile(0.25)
Q3 = newdata['CNT_CHILDREN'].quantile(0.75)
IQR = Q3 - Q1
lowerwhisker=(Q1 - 1.5 * IQR)
upperwhisker=(Q3 + 1.5 * IQR)
#children cannot be in decimals we can conclude that count greater than 3 can be an out laier

### 13.AMT_CREDIT

In [ ]:
plt.boxplot(newdata['AMT_CREDIT'])

plt.title('AMT_CREDIT')

plt.show()
newdata['AMT_CREDIT'].describe()
newdata['AMT_CREDIT'].max()


# From box plot, we can conclude that there exists values which are above upper whisker(maximum) considered to be as outliers.

### 14.REGION_POPULATION_RELATIVE

In [ ]:

plt.boxplot(newdata['REGION_POPULATION_RELATIVE'])
plt.show()
newdata['REGION_POPULATION_RELATIVE'].describe()

### 15.AMT_GOODS_PRICE

In [ ]:


new=newdata['AMT_GOODS_PRICE']
filtered = new[~np.isnan(new)]
plt.boxplot(filtered)
plt.title('AMT_GOODS_PRICE')
plt.show()
# opulation relative count greater than upper whisker is considered to be an outlier

##  Binning of continuous variables

###  16.AMT_INCOME_TOTAL

In [ ]:
newdata['AMT_INCOME_TOTAL'].quantile([0,0.1,0.3,0.6,0.8,1])

In [ ]:
#Creating A new categorical variable based on income total
newdata['INCOME_GROUP']=pd.qcut(newdata['AMT_INCOME_TOTAL'],
                                       q=[0,0.1,0.3,0.6,0.8,1],
                                       labels=['VeryLow','Low','Medium','High','VeryHigh'])

newdata['INCOME_GROUP']

### 17.DAYS_BIRTH

In [ ]:
abs(newdata['DAYS_BIRTH']).quantile([0,0.1,0.3,0.6,0.8,1])

In [ ]:
#Creating a column AGE using DAYS_BIRTH
newdata['AGE']=abs(newdata['DAYS_BIRTH'])//365.25
newdata['AGE'].describe()

In [ ]:
## Since the AGE varies from 20 to 69, we can create bins of 5 years starting from 20 to 70
newdata['AGE_GROUP'] = pd.cut(newdata['AGE'],bins=np.arange(20,71,5))
newdata['AGE_GROUP']

### 18.CREDIT_INCOME_RATIO

In [ ]:
## Adding one more column that will be used for analysis later
newdata['CREDIT_INCOME_RATIO']=round((newdata['AMT_CREDIT']/newdata['AMT_INCOME_TOTAL']))
newdata['CREDIT_INCOME_RATIO']

### 19.social circle who defaulted

In [ ]:
newdata['CIRCLE_60']=newdata['DEF_60_CNT_SOCIAL_CIRCLE']/newdata['OBS_60_CNT_SOCIAL_CIRCLE']

newdata['CIRCLE_60']

newdata['CIRCLE_30']=newdata['DEF_30_CNT_SOCIAL_CIRCLE']/newdata['OBS_30_CNT_SOCIAL_CIRCLE']
newdata['CIRCLE_30']

newdata.head()

### Checking imbalance
###  20.TARGET

In [ ]:

new=newdata['TARGET'].value_counts(normalize=True)*100
new

new/ len(newdata)

In [ ]:
(new/ len(newdata)).plot.bar()
plt.xticks(rotation=0)
plt.show()

print('its not balanced')

In [ ]:


plt.pie(new,labels=['NON-DEFAULT (TARGET=0)','DEFAULT (TARGET=1)'],explode=(0,0.05),autopct='%1.f%%')
plt.show()

### univariate analysis
### 21.name rducation type

In [ ]:
newdata['NAME_EDUCATION_TYPE']

#### Divide the data into two sets, i.e., Target-1 and Target-0
 ####  22.NAME_EDUCATION_TYPE

In [ ]:


newdata1 = newdata[newdata['TARGET']==1]
newdata0 = newdata[newdata['TARGET']==0]

newdata0.NAME_EDUCATION_TYPE.value_counts(normalize=True).plot.bar()
plt.title('for non-default')
plt.show()

newdata1.NAME_EDUCATION_TYPE.value_counts(normalize=True).plot.bar()
plt.title('for default')
plt.show()

### 23.WEEKDAY_APPR_PROCESS_START

In [ ]:
newdata0.WEEKDAY_APPR_PROCESS_START.value_counts(normalize=True).plot.barh()
plt.title('for non-default')
plt.show()
print('from the graph we can conclude that application starting processes are generally less in saturday and sunday')

newdata1.WEEKDAY_APPR_PROCESS_START.value_counts(normalize=True).plot.barh()
plt.title('for default')
plt.show()
print('from the graph we can conclude that application starting processes are generally less in saturday and sunday')

# catagorical variable

###  24.NAME_FAMILY_STATUS

In [ ]:
newdata0.NAME_FAMILY_STATUS.value_counts(normalize=True).plot.bar()
plt.title('for non-default')
plt.show()

newdata1.NAME_FAMILY_STATUS.value_counts(normalize=True).plot.bar()
plt.title('for default')
plt.show()


print(' It also shows that there exists few(1 or 2) unknown values in not default client family status')

print(' We can say more married people tend to take more Loan as compaired to other categories')
      
print(' being married is not impacting default and not defaulting ')

###  25.NAME_INCOME_TYPE

In [ ]:

newdata0.NAME_INCOME_TYPE.value_counts(normalize=True).plot.pie()
plt.title('for non-default')
plt.show()

newdata1.NAME_INCOME_TYPE.value_counts(normalize=True).plot.pie()
plt.title('for default')
plt.show()


print('Pensioner of non default case are high in number compared to Pensioner of default case')
print('It also shows that majority of defaulters income type is working')
print('and at the same time there is good income to bank from working people')

### 26.NAME_HOUSING_TYPE

In [ ]:

newdata0.NAME_HOUSING_TYPE.value_counts(normalize=True).plot.barh()
plt.title('for non-default')
plt.show()

newdata1.NAME_HOUSING_TYPE.value_counts(normalize=True).plot.barh()
plt.title('for default')
plt.show()
print(' from graph we can conclude that there exists people who have own house')
print('lies in both default and non default')

### 27. catagorical columns

In [ ]:

categorical_columns=['NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS', ]
plt.figure(figsize=(20,20))

for i in (enumerate(categorical_columns)):
    
    plt.subplot(len(categorical_columns)//2,2,i[0]+1)
    
    sns.countplot(x=i[1],hue='TARGET',data=newdata)
    
    plt.yscale('log')
    plt.xticks(rotation=90)
    
    plt.show()


#### People with Medium total income more likely default
#### females ,merried person,real  estate companis,who dont woned car,secondary/special educated people  taking more loan.
#### high Credit amount ,People who started application process on sunday are less likely to default,

newdata.head()

#### considering 10 continous numerical columns

In [ ]:
continous_columns=['AMT_ANNUITY','AMT_GOODS_PRICE','CNT_FAM_MEMBERS',
                  'DAYS_LAST_PHONE_CHANGE','DAYS_ID_PUBLISH','DAYS_BIRTH','HOUR_APPR_PROCESS_START',
                  'DAYS_EMPLOYED','AMT_CREDIT','AMT_INCOME_TOTAL']
plt.figure(figsize=(22,25))
for i in (enumerate(continous_columns)):
    plt.subplot(len(continous_columns)//2,2,i[0]+1)
    sns.distplot(newdata1[i[1]].dropna(),hist=False,label='Target : default')
    sns.distplot(newdata0[i[1]].dropna(),hist=False,label='Target : no default')
plt.show()

#### People with lower total income are more likely to default
      who just got employed, who retired ,age group(17-41), whose id(s) got published between 4000 days and 5000 days ago ,           nuclear family will take more loans

          High number of applications are filed in 10 AM to 2 PM
           low amount annuity has high number of loans

# correlation

## finding  Correlated values for defalut(1)

In [ ]:
corr=newdata1.corr()
corrdf=corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
corrdf=corrdf.unstack().reset_index()
corrdf.columns=['Var1','Var2','Coorelation']
corrdf.dropna(subset=['Coorelation'],inplace=True)
corrdf['Coorelation']=round(corrdf['Coorelation'],2)
corrdf['Coorelation']=abs(corrdf['Coorelation']) #converting -ve values to +ve because they are same
corrdf.sort_values(by='Coorelation',ascending=False).head(10)

## finding  Correlated values for defalut(0)

In [ ]:
corr=newdata0.corr()
corrdf=corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
corrdf=corrdf.unstack().reset_index()
corrdf.columns=['Var1','Var2','Coorelation']
corrdf.dropna(subset=['Coorelation'],inplace=True)
corrdf['Coorelation']=round(corrdf['Coorelation'],2)
corrdf['Coorelation']=abs(corrdf['Coorelation']) #converting -ve values to +ve because they are same
corrdf.sort_values(by='Coorelation',ascending=False).head(10)

Correlation Observations
When defaulted, major portion of decision is taken by-
(YEARS_BEGINEXPLUATATION_MEDI AND YEARS_BEGINEXPLUATATION_AVG)
(OBS_60_CNT_SOCIAL_CIRCLE AND OBS_30_CNT_SOCIAL_CIRCLE)
(FLOORSMAX_MEDI AND FLOORSMAX_AVG)

When not defaulted, major portion of decision is taken by-
(FLOORSMAX_MEDI AND FLOORSMAX_AVG)
(OBS_60_CNT_SOCIAL_CIRCLE AND OBS_30_CNT_SOCIAL_CIRCLE)
(FLOORSMAX_MEDI AND FLOORSMAX_MODE)

the values - YEARS_BEGINEXPLUATATION_MEDI and YEARS_BEGINEXPLUATATION_AVG are more correlated in default case than non-default

### Bi-variate analysis
### numerical variable

In [ ]:

def plotbivar(var1,var2):

    plt.style.use('ggplot')
    sns.despine
    fig,(ax1,ax2) = plt.subplots(1,2,figsize=(20,6))
    
    sns.scatterplot(x=var1, y=var2,data=newdata0,ax=ax1)
    ax1.set_xlabel(var1)    
    ax1.set_ylabel(var2)
    ax1.set_title(f'{var1} vs {var2} for Non-Defaulters',fontsize=15)
    
    sns.scatterplot(x=var1, y=var2,data=newdata1,ax=ax2)
    ax2.set_xlabel(var1)    
    ax2.set_ylabel(var2)
    ax2.set_title(f'{var1} vs {var2} for Defaulters',fontsize=15)
            
    plt.show()

In [ ]:
plotbivar('AMT_GOODS_PRICE','AMT_CREDIT')

In [ ]:
plotbivar('AMT_CREDIT','CNT_FAM_MEMBERS')

In [ ]:
plotbivar('AMT_CREDIT','AMT_GOODS_PRICE')

### CATAGORICAL

In [ ]:
table1= pd.crosstab(index=newdata['TARGET'],columns=newdata['NAME_CONTRACT_TYPE'])
print(table1)
table1.plot(kind="bar", figsize=(5,5),stacked=False)
plt.xticks(rotation=0)
plt.show()

In [ ]:

table1= pd.crosstab(index=newdata['TARGET'],columns=newdata['CODE_GENDER'])
print(table1)
table1.plot(kind="bar", figsize=(5,5),stacked=False)
plt.xticks(rotation=0)
plt.show()

In [ ]:
table1= pd.crosstab(index=newdata['TARGET'],columns=newdata['NAME_TYPE_SUITE'])
print(table1)
table1.plot(kind="bar", figsize=(5,5),stacked=False)
plt.xticks(rotation=0)
plt.show()

In [ ]:
table1= pd.crosstab(index=newdata['TARGET'],columns=newdata['NAME_INCOME_TYPE'])
print(table1)
table1.plot(kind="hist", figsize=(5,5),stacked=False)
plt.xticks(rotation=0)
plt.show()

In [ ]:
table1= pd.crosstab(index=newdata['TARGET'],columns=newdata['NAME_HOUSING_TYPE'])
print(table1)
table1.plot(kind="hist", figsize=(5,5),stacked=False)
plt.xticks(rotation=0)
plt.show()

In [ ]:
columns=['DAYS_EMPLOYED','DAYS_BIRTH','DAYS_LAST_PHONE_CHANGE','HOUR_APPR_PROCESS_START',
                  'DAYS_ID_PUBLISH','DAYS_REGISTRATION']
plt.figure(figsize=(15,25))
for i in (enumerate(columns)):
    plt.subplot(len(columns)//2,2,i[0]+1)
    sns.boxplot(x='TARGET',y=newdata[i[1]].dropna(),data=newdata)
    plt.yscale('log')
plt.show()

# Data Analysis For Previous Application Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 300) # to display all the columns
pd.set_option('display.max_rows', 300) # to display all the rows
pd.set_option('display.width', 1000)

In [ ]:
preapplication=pd.read_csv("previous_application.csv")
preapplication.head()

In [ ]:
# Removing all the columns with more than 50% of null values
preapplication = preapplication.loc[:,preapplication.isnull().mean()<=0.5]
preapplication.shape

In [ ]:
preapplication.info()

### univriate analysis
#### # converting -ve values to +ve

In [ ]:


preapplication['SELLERPLACE_AREA']=preapplication['SELLERPLACE_AREA'].abs()


preapplication['DAYS_FIRST_DUE']=preapplication['DAYS_FIRST_DUE'].abs()


preapplication['DAYS_LAST_DUE_1ST_VERSION']=preapplication['DAYS_LAST_DUE_1ST_VERSION'].abs()


preapplication['DAYS_LAST_DUE']=preapplication['DAYS_LAST_DUE'].abs()


preapplication['DAYS_TERMINATION']=preapplication['DAYS_TERMINATION'].abs()


preapplication['DAYS_FIRST_DRAWING']=preapplication['DAYS_FIRST_DRAWING'].abs()

preapplication['DAYS_DECISION']=preapplication['DAYS_DECISION'].abs()

In [ ]:
preapplication.head()

In [ ]:
def plot_uni(var):

    plt.style.use('ggplot')
    sns.despine
    fig,ax = plt.subplots(1,1,figsize=(15,5))
    
    sns.countplot(x=var, data=preapplication,ax=ax,hue='NAME_CONTRACT_STATUS')
    ax.set_ylabel('Total Counts')
    ax.set_title(f'Distribution of {var}',fontsize=15)
    ax.set_xticklabels(ax.get_xticklabels(), rotation=40, ha="right")
    
    plt.show()

In [ ]:
plot_uni('NAME_CONTRACT_TYPE')

> ##### From the above chart, we can infer that, most of the applications are for 'Cash loan' and 'Consumer loan'. Although the cash loans are refused more often than others.

In [ ]:
plot_uni('NAME_PAYMENT_TYPE')

##### From the above chart, we can infer that most of the clients chose to repay the loan using the 'Cash through the bank' option

In [ ]:
plot_uni('NAME_CLIENT_TYPE')

### CHECKING CORELATION

In [ ]:
corr=preapplication.corr()
corr_df = corr.where(np.triu(np.ones(corr.shape),k=1).astype(np.bool)).unstack().reset_index()
corr_df.columns=['Column1','Column2','Correlation']
corr_df.dropna(subset=['Correlation'],inplace=True)
corr_df['Abs_Correlation']=corr_df['Correlation'].abs()
corr_df = corr_df.sort_values(by=['Abs_Correlation'], ascending=False)
corr_df.head(10)

### BIVERIATE ANALYSIS

In [ ]:
plt.figure(figsize=[20,8])
sns.pairplot(preapplication[['AMT_ANNUITY','AMT_APPLICATION','AMT_CREDIT','AMT_GOODS_PRICE','NAME_CONTRACT_STATUS']], 
             diag_kind = 'kde', 
             plot_kws = {'alpha': 0.4, 's': 80, 'edgecolor': 'k'},
             size = 4)
plt.show()

### Merging application data and previous application data

In [ ]:
## Merging the two files to do some analysis
new= pd.merge(newdata, preapplication, how='inner', on=['SK_ID_CURR'])

In [ ]:
new.head()

In [ ]:
new.shape

In [ ]:
new.info()

In [ ]:
def plotuni_combined(Varx,Vary):
    # 100% bar chart
    plt.style.use('ggplot')
    sns.despine
    NewDat = NewLeftPrev.pivot_table(values='SK_ID_CURR', 
                      index=Varx,
                      columns=Vary,
                      aggfunc='count')
    NewDat=NewDat.div(NewDat.sum(axis=1),axis='rows')*100
    sns.set()
    NewDat.plot(kind='bar',stacked=True,figsize=(15,5))
    plt.title(f'Effect Of {Varx} on Loan Approval')
    plt.xlabel(f'{Varx}')
    plt.ylabel(f'{Vary}%')
    plt.show()

plotuni_combined('FLAG_OWN_CAR','NAME_CONTRACT_STATUS')

##### We see that car ownership doesn't have any effect on application approval or rejection. 
#####   previous analysis ,the people who has a car has lesser chances of default.

In [ ]:
plotuni_combined('CODE_GENDER','WEEKDAY_APPR_PROCESS_START_Current')

##### We see that code gender doesn't have any effect on application approval or rejection.
#####     But we saw earlier that female have lesser chances of default compared to males.
  #####       The bank can add more weightage to female while approving a loan amount.

In [ ]:
plotuni_combined('CODE_GENDER','NAME_CLIENT_TYPE')

In [ ]:
plotuni_combined('CODE_GENDER','AMT_INCOME_TOTAL_bin')

In [ ]:
plotuni_combined('CODE_GENDER','NAME_CONTRACT_TYPE_Current')

In [ ]:
plotuni_combined('CODE_GENDER','AMT_CREDIT_bin')

In [ ]:
plotuni_combined('CODE_GENDER','NAME_YIELD_GROUP')

In [ ]:
plotuni_combined('CODE_GENDER','')

In [ ]:
##### both in NAME_CONTRACT_TYPE_Previous and NAME_CONTRACT_TYPE_Current unaccompanied has the highest number.
##### for Medium AMT_INCOME_TOTAL_bin the approval is highest .
##### Value of AMT_CREDIT_BIN does not affect loan approvals.
##### Repeater has highest number of approved loans.

### biveriate

In [ ]:
table= pd.crosstab(index=merged_df['NAME_CONTRACT_STATUS'],columns=merged_df['NAME_CONTRACT_TYPE_Current'])
print(table)
table.plot(kind="bar", figsize=(5,5),stacked=False)
plt.show()

In [ ]:
table= pd.crosstab(index=merged_df['NAME_CONTRACT_STATUS'],columns=merged_df['NAME_INCOME_TYPE'])
print(table)
table.plot(kind="bar", figsize=(5,5),stacked=False)
plt.show()
# Highest number of approvals for working applicant

In [ ]:
table= pd.crosstab(index=merged_df['NAME_CONTRACT_STATUS'],columns=merged_df['NAME_EDUCATION_TYPE'])
print(table)
table.plot(kind="bar", figsize=(5,5),stacked=False)
plt.show()
# Highest number of approvals for Secondary/secondary special educated applicant

In [ ]:
table= pd.crosstab(index=merged_df['NAME_CONTRACT_STATUS'],columns=merged_df['NAME_FAMILY_STATUS'])
print(table)
table.plot(kind="bar", figsize=(5,5),stacked=False)
plt.show()
# Highest number of approvals for Married applicant

AMT_CREDIT_Previous has highest refused cases and AMT_CREDIT_Current is similar for all 4 cases.
time spent in unused offer is higher as compared to other categories.
So bank should reduce time spent on unused offer.
nuclear family(2-3 people in family) get highest approval.
Previously most of the applications were cancelled or refused
but now Refused/Cancelled/Approved/Unused all four have similar situation for AMT_GOODS_PRICE.
Previously most of the applications were cancelled or refused
but now Refused/Cancelled/Approved/Unused all four have similar situation for AMT_ANNUITY.